@model CatFact
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h4>Fact</h4>
    <p>@Model.fact</p>

    <h4>Length</h4>
    <p>@Model.length</p>
</div>
